pandas==2.2.1
scikit-learn==1.4.1.post1
seaborn==0.13.2
seaborn==0.13.2
nltk==3.8.1
spacy==3.7.4
wordcloud==1.9.3
datasets==2.18.0
kaleido==0.2.1
ipykernel==6.29.3
gensim==4.3.2
pyLDAvis==3.4.1
transformers==4.38.2
evaluate==0.4.1
torch==2.2.1
accelerate==0.27.2
bertopic==0.16.0
shap==0.45.0